:root {
    --w64: 64px;
    --transition-fast: 0.1s;
    --transition-mid: 0.3s;
    --transition-slow: 0.5s;
    --transition-veryslow: 2.5s;
    --bg-color: #fcfdff;
    --text-color: #000000;
    --shadow-color: #00000044;
    --text-gray: #707070;
    --light-green:#00c50a;
    --light-red:#c5000a;
    --link-color: #e6eef7;
    --menu-bg: #214288;
    --menu-forecolor: #e0e0ff;
    --menu-foreaccent: #ffffff;
    --menu-highlight: #ffffaa;
    --primary-bg: #214288;
    --console-bg: #111113;
    --console-text: #c0c0c0;
    --winc-bg: #4e5d88;
    --msg-info: #98fa98;
    --msg-message: #98cbfa;
    --msg-warning: #f8fa98;
    --msg-error: #fa9898;
    --msg-fatal: #ff4f4f;
}

[data-theme="dark"] {
    --w64: 64px;
    --transition-fast: 0.1s;
    --transition-mid: 0.3s;
    --transition-slow: 0.5s;
    --transition-veryslow: 2.5s;
    --bg-color: #121212;
    --text-color: #ffffff;
    --shadow-color: #ffffff25;
    --text-gray: #aaaaaa;
    --light-green:#00c50a;
    --light-red:#c5000a;
    --link-color: #66b2ff;
    --menu-bg: #214288;
    --menu-forecolor: #e0e0ff;
    --menu-foreaccent: #ffffff;
    --menu-highlight: #ffffaa;
    --primary-bg: #1992e6;
    --console-bg: #111113;
    --console-text: #c0c0c0;
    --winc-bg: #4e5d88;
    --msg-info: #98fa98;
    --msg-message: #98cbfa;
    --msg-warning: #f8fa98;
    --msg-error: #fa9898;
    --msg-fatal: #ff4f4f;
}